--
-- PostgreSQL database dump
--

\restrict zwPgMpuDVqICU1cQmDbbhw8zUAB5hXXHdGS4vXDIIzcfIXaWgD8mntO6rgLJ5Wj

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: public; Owner: enterprise_user
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    full_name character varying(255),
    role character varying(50) DEFAULT 'user'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO enterprise_user;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: enterprise_user
--

COPY public.users (id, email, password_hash, full_name, role, is_active, created_at, updated_at) FROM stdin;
5bc80ed7-bcde-4a70-be5d-1f299b2c2462	test@enterprise.local	$2a$10$dQvOnzCcdT4UdU9tnKi0A.AbruXqnh/d.3IUeIiCVS7ROL1p1DGli	Test User	admin	t	2026-08-03 16:54:33.789944+00	2026-08-03 16:54:33.789944+00
\.


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: enterprise_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: enterprise_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: enterprise_user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_is_active; Type: INDEX; Schema: public; Owner: enterprise_user
--

CREATE INDEX idx_users_is_active ON public.users USING btree (is_active);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: enterprise_user
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- PostgreSQL database dump complete
--

\unrestrict zwPgMpuDVqICU1cQmDbbhw8zUAB5hXXHdGS4vXDIIzcfIXaWgD8mntO6rgLJ5Wj

